<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/about_us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Web Coursera</title>
</head>
<body>
    <!---------------- Navigation Bar --------------->
    <header>
        <h1 class="logo"><a href="index.html">WebCoursera</a></h1>
      <ul class="main-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="login.html">Sign In</a></li>
          <li><a href="signup.html">Sign Up</a></li>
      </ul>
        
    </header>

    <!----------------- World Class ------------------>
    <section id = "world-class">
        <div>
            <h1>World-Class Learning for Anyone, Anywhere</h1>
            <p>
                Coursera partners with <b>more than 200 leading universities and companies</b> to bring flexible, affordable, job-relevant online learning
            </p>
            <p>
                to individuals and organizations worldwide.
            </p>
    </div>
    <div class = "world-class-all-cards">
        <div class = "world-class-cards">
            <img src="../assets/Globe-Africa_blue.svg" alt="">
            <h2>World Class</h2>
            <p>Learn from experts at 200+ <b>leading universities and companies.</b></p>
            <p>Earn <b>recognized credentials</b> from leading universities and companies to <b>achieve your goals.</b></p>
        </div>
        <div class = "world-class-cards">
            <img src="../assets/Compass-Full.svg" alt="">
            <h2>Affordable</h2>
            <p>Explore hundreds of <b>free courses</b> or get started with a <b>free trial.</b></p>
            <p>Earn a <b>university degree</b> and enjoy <b>high-quality curriculum, affordable pricing,</b> and <b>flexible scheduling.</b></p>
        </div>
        <div class = "world-class-cards">
            <img src="../assets/Money-Currency-Agnostic.svg" alt="">
            <h2>Flexible</h2>
            <p>Get <b>on-demand lectures</b> for desktop and mobile—on your schedule.</b></p>
            <p>Choose from <b>free courses, hands-on projects, certificate programs,</b> and <b>stackable credentials.</b></p>
        </div>
        <div class = "world-class-cards">
            <img src="../assets/Certificate-Stack.svg" alt="">
            <h2>Job-relevant</h2>
            <p>Master <b>essential career skills</b> based on comprehensive skills data.</b></p>
            <p>Build personal and professional skills with <b>applied learning.</b></p>
        </div>
    </div>
    </section>

    <!-------------- Our Story ------------->

    <section id = "our-story" class = "world-class-all-cards">
        <div>
            <h1>Our Story</h1>
            <p>
                Coursera was founded by Daphne Koller and Andrew Ng in 2012 with a vision of providing life-transforming learning experiences to learners around the world. Today, Coursera is a global online learning platform that offers anyone, anywhere, access to online courses and degrees from leading universities and companies. Coursera received B Corp certification in February 2021, which means that we have a legal duty not only to our shareholders, but to also make a positive impact on society more broadly, as we continue our efforts to reduce barriers to world-class education for all.
            </p>
            <p>
                <b>82 million learners, 100+ Fortune 500 companies, and more than 6,000 campuses, businesses,</b> and <b>governments</b> come to Coursera to access world-class learning—anytime, anywhere.
            </p>
        </div>
        <div>
            <img src="../assets/Coursera_Our_Story_Assets.jpeg" alt="">
        </div>
    </section>

    <!------------------Social Media----------------------->
    <section class="social-media">
        <div class="container">
            <p>FIND US ON SOCIAL MEDIA</p>
            <div class="social-icons">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
                <a href=""><i class="fab fa-snapchat"></i></a>
            </div>
        </div>
    </section>
    
    <!----------------- Footer Section -------------------->

    <footer>
        <div class = "footer-box">
            <div class="footer-links">
                <div>
                    <a href="termsAndConditions.html">Terms & Conditions</a>
                </div>
                <div>
                    <a href = "privacyPolicy.html">Privacy Policy</a>
                </div>
                <div>
                    <a href = "help-and-support.html">Help and Support</a>
                </div>
                <div>
                    <a href = "aboutUs.html">About Us</a>
                </div>
                <div>
                    <a href = "mailto:info@webcoursera.com">Contact Us</a>
                </div>
            </div>
            <div>
                <p>&copy; 2021 Web Coursera All rights reserved </p>
            </div>
            
        </div>
    </footer>
</body>
</html>