<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/privacy_policy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Help and Support</title>
</head>
<body>
    <!--------------- Navigation Bar ------------>
    <header>
        <h1 class="logo"><a href="#">WebCoursera</a></h1>
      <ul class="main-nav">
          <li><a href="#">Home</a></li>
          <li><a href="login.html">Sign In</a></li>
          <li><a href="signup.html">Sign Up</a></li>
      </ul>
    </header>
    <!------------------------------------------->

    <!------------ Privacy Policy  ------->

    <section class = "main-area">
        <h1>Help and Support</h1>
        <hr>
        
        <h2>1. How to Find Your Missing Course</h2>
        <p>If you don’t see the course you purchased on the My learning page, and it’s not located in the Archived section of your account, please do the following:</p>
        <h3>1.1 Confirm you received a confirmation email for the course purchase</h3>
        <ul>
            <li>
                After enrolling in a course, check to see that you’ve received a confirmation email from Udemy. A confirmation email from help@email.webcoursera.com will be sent to the email address registered to your Web Coursera account. Be sure to also check your junk mail folder.        
            <li>
                If you don’t see a confirmation email in that email account, this could indicate you purchased the course while logged into Web Coursera with a different email address (or with an account that was created with an accidental typo: see below for more information).           
            <li>
                See if you have multiple accounts registered with Web Coursera: occasionally students create more than one Web Coursera account by mistake. If you use multiple email accounts, or have an Apple, Facebook, or Google account, try logging in with the associated email addresses. Check to see if the course you purchased is in that account.       
            <li>
                Consent to send you certain communications or where you submit certain information to us, or where required to rely upon consent by local law.
            </li>
        </ul>
        <h3>1.2 Check your banking information </h3>
        <p>Confirm that the course was in fact purchased by double checking the payment history in your banking or PayPal account.  

            If the purchase is showing in your financial information, but you have not been able to locate the course following the steps outlined above, you may have entered your email address incorrectly when you first signed up for Udemy. As a result, our system would attempt sending the confirmation email to that address, instead of the correct one. 
            
            If you believe this may have happened, please contact our Support Team and provide the information that’s requested in the form.
        </p> 
        
        <h2>2. Refund Status: Common Questions</h2>
        <p>Course purchases can be refunded within 30 days after the purchase. Below are answers to some of the most common questions we receive regarding refunds, and how long the process takes.</p>
        <h3>2.1 When will I receive my refund?</h3>
        <p>
            Refund requests are submitted immediately to your payment processor or financial institution after Web Coursera has received and processed your request. It may take  5 to 10 business days or longer to post the funds in your account, depending on your financial institution or location.
            If you requested a refund within 24 hours of purchasing the course, however, it may be processed as a purchase reversal (please see below for more information).
        </p>   
        <h3>2.2 I requested a refund more than 10 business days ago, but I still do not see it in my bank account. Where is my refund?</h3>
        <p>
            As noted above, it may take 5 to 10 business days to post the funds in your account after Web Coursera has processed your refund request, depending on your financial institution or location. Some refunds, however, may not post to your account for up to 30 days. If it has been more than 10 business days since the refund was processed by Web Coursera, please contact your bank directly to inquire about the status of the refund. If the bank does not see the refund in their records, please contact our support team.
        </p>
        <h3>2.3 What is the difference between a refund and a purchase reversal?</h3>
        <p>
            If you paid with a credit or debit card, most refunds that are processed within 24 hours of a purchase are processed as reversals.  What this means is that the original charge will be removed from your bank or credit card statement, usually within 5 business days. If it is a reversal, then you will not see the refunds credited back to your account, since they were never withdrawn.
        </p>

        <h2>3. Lifetime Access</h2>
        <p>
            One of the best things about Web Coursera is that you can login to your account from virtually anywhere, whenever you want, and access your courses easily! We strongly believe that students will benefit from the limitless educational possibilities this feature presents.
            Once you purchase a course, you'll have access for life, provided that your account is in good standing and Web Coursera continues to have a license to that course.
        </p>
        <h3>3.1 Will I continue to have access to the course even after I complete it?</h3>
        <p>
            Yes. You will continue to have access to the course after you complete it, provided that your account’s in good standing, and Web Coursera continues to have a license to the course. So, if you wish to review specific content in the course after you finish it, or take it all over again, you can.
        </p>
        <h3>3.2 Will I have lifetime access to subscription content?</h3>
        <p>
            You will have unlimited access to subscription content as long as you have an active subscription.  If you cancel your subscription, you will have access to the subscription content until the final date of your billing period, which is posted on your Subscriptions page.
        </p>
        <h3>3.3 What happens if the instructor removes the course from Web Coursera?</h3>
        <p>
            We host thousands of courses on our online learning marketplace. Our marketplace model means we do not own the copyright to the content of the courses; the respective instructors own these rights. On rare occasions, instructors may remove their courses from our marketplace, or, Web Coursera may have to remove a course from the platform for policy or legal reasons. If this does happen to a course you're enrolled in, please contact us and we'll be ready to help.
        </p>
        <p>
            Please note: occasionally instructors may decide to unpublish their course and close it to additional enrollments. For example, an instructor might unpublish an older course until they’ve had a chance to update the course content. In situations where an instructor unpublishes their course, however, the course content remains on the platform and is still accessible to students who are enrolled in the course.
        </p>

        <h2>4. How Does Web Coursera Work?</h2>
        <p>
            Web Coursera's mission is to create new possibilities for people and organizations everywhere. Our global marketplace features an extensive, multi-language library, which includes thousands of courses taught by real-world experts. You can take courses across a wide range of categories, some of which include: business & entrepreneurship, programming, academics, the arts, health & fitness, language, music and much more!
        </p>
        <h3>4.1 What do Web Coursera courses include?</h3>
        <p>
            Each Web Coursera course is created, owned and managed by the instructor(s). The foundation of each Web Coursera course are its lectures, which can include videos, slides, and text. In addition, instructors can add resources and various types of practice activities, as a way to enhance the learning experience of students. 
        </p>
        <h3>4.2 How do I take a Udemy course?</h3>
        <p>
            Web Coursera courses are entirely on-demand. You can begin the course whenever you like, and there are no deadlines to complete it.
            Web Coursera courses can be accessed from several different devices and platforms, including a desktop, laptop, and our mobile app. 
            After you enroll in a course, you can access it by clicking on the course link you will receive in your confirmation email (provided you’re logged into your Web Coursera account). You can also begin the course by logging in and navigating to your My learning page. 
        </p>
        <h3>4.3 Do I have to start my Web Coursera course at a certain time? And how long do I have to complete it?</h3>
        <p>
            As noted above, there are no deadlines to begin or complete the course. Even after you complete the course you will continue to have access to it, provided that your account’s in good standing, and Web Coursera continues to have a license to the course.
        </p>
        
    </section>

    <!---------------------------------------------------------->

    <!---------------- Footer ------------------->
    <footer>
        <div class = "footer-box">
            <div>
                <p>Copyright @2021 Web Coursera All rights reserved </p>
            </div>
            <div>
                <a href="termsAndConditions.html">Terms & Conditions</a>
            </div>
            <div>
                <a href = "privacyPolicy.html">Privacy Policy</a>
            </div>
            <div>
                <a href = "#">Help and Support</a>
            </div>
            <div>
                <a href = "#">About Us</a>
            </div>
            <div>
                <a href = "#">Contact Us</a>
            </div>
        </div>
    </footer>
    <!------------------------------------------->
</body>
</html>