<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Web Coursera</title>
</head>
<body>
    <!---------------- Navigation Bar --------------->
    <header>
        <h1 class="logo"><a href="#">WebCoursera</a></h1>
      <ul class="main-nav">
          <li><a href="#">Home</a></li>
          <li><a href="login.html">Sign In</a></li>
          <li><a href="signup.html">Sign Up</a></li>
      </ul>
        
    </header>
    <!----------------  Web Coursera Intro  --------------->
    <section id="banner">
        <div class="banner1">
            <div class="slider">
                <img src="../assets/wall2.jpg" id="slideImg">
            </div>
            <div class="overlay">
                <div class="content">
                    <p class="promo-title">Web Coursera</p>
                    <p class="promo">ABOUT US</p>
                    <p>Web  Coursera partners with leading universities and companies to bring flexible, affordable, job-relevant online learning to individuals and organizations worldwide. We offer a range of learning opportunities—from hands-on projects and courses to job-ready certificates and degree programs.</p>
                    <!-----
                    <a href="https://www.youtube.com/watch?v=F-flvgL3huk"><img src="images/play-button-overlay-png-transparent.png" class="play-btn">Watch Videos</a>
                    --->
                </div>
            </div>
        </div>
    </section>

    <!---------------- Courses Section ----------------->

    <section class="main-area">
        <h1 class="course-heading">COURSES</h1>
        <div class="search-area">
            <input type="text" name="" id="" placeholder="Search For More">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        
        <div class="container flex">
            <div class="card">
                <img src="../assets/service1.png" alt="">
                <button><a href="../views/java-course-page.html">Get Started</a></button>
            </div>
            <div class="card">
                <img src="../assets/service2.png" alt="">
                <button><a href="../views/java-course-page.html">Get Started</a></button>
            </div>
            <div class="card">
                <img src="../assets/service3.png" alt="">
                <button><a href="../views/js-course-page.html">Get Started</a></button>
            </div>
            <div class="card">
                <img src="../assets/service4.png" alt="">
                <button><a href="../views/java-course-page.html">Get Started</a></button>
            </div>
            <div class="card">
                <img src="../assets/service5.png" alt="">
                <button><a href="../views/java-course-page.html">Get Started</a></button>
            </div>
            <div class="card">
                <img src="../assets/service6.jpg" alt="">
                <button><a href="../views/java-course-page.html">Get Started</a></button>
            </div>
            
        </div>
    </section>
    <!------------------Social Media----------------------->
    <section class="social-media">
        <div class="container">
            <p>FIND US ON SOCIAL MEDIA</p>
            <div class="social-icons">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
                
            </div>
        </div>
    </section>
    
    <!----------------- Footer Section -------------------->

    <footer>
        <div class = "footer-box">
            <div>
                <p>&copy; 2021 Web Coursera All rights reserved </p>
            </div>
            <div>
                <a href="termsAndConditions.html">Terms & Conditions</a>
            </div>
            <div>
                <a href = "privacyPolicy.html">Privacy Policy</a>
            </div>
            <div>
                <a href = "#">Help and Support</a>
            </div>
            <div>
                <a href = "aboutUs.html">About Us</a>
            </div>
            <div>
                <a href = "#">Contact Us</a>
            </div>
        </div>
    </footer>
</body>
</html>