<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/course-page-style.css">
    <title>Web Coursera</title>
</head>
<body>
    <!---------------- Navigation Bar --------------->
    <header>
        <h1 class="logo"><a href="index.html">WebCoursera</a></h1>
      <ul class="main-nav">
        <li><a href="index.html">Home</a></li>
          <li><a href="login.html">Sign out</a></li>
      </ul>
        
    </header>
    <!----------------  Web Coursera Intro  --------------->
    <section id="banner">
        <div class="banner1">
            <div class="slider">
                <img src="../assets/java.png" id="slideImg">
            </div>
            <div class="overlay">
                <div class="content">
                    <p class="promo-title">Java</p>
                    <p>Java is a programming language.</p>
                   <p> Java is used to develop mobile apps, web apps, desktop apps, games and much more.</p>
                    <!-----
                    <a href="https://www.youtube.com/watch?v=F-flvgL3huk"><img src="images/play-button-overlay-png-transparent.png" class="play-btn">Watch Videos</a>
                    --->
                </div>
            </div>
        </div>
    </section>

    <!-- Reference Section -->
    
    <section id="reference">
        <div class="th">
            <h2>References</h2>
        </div>
        <table>
            <tr>
                <td><a class="links" href="https://www.rcsdk12.org/cms/lib/NY01001156/Centricity/Domain/4951/Head_First_Java_Second_Edition.pdf"> Head First Java: A Brain-Friendly Guide (2nd Edition)</a></td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://kea.nu/files/textbooks/new/Effective%20Java%20%282017%2C%20Addison-Wesley%29.pdf">Effective Java (3rd Edition)</a></td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://sd.blackball.lv/library/Thinking_in_Java_4th_edition.pdf">Thinking in Java (4th Edition)</a></td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://www.w3schools.com/java/">w3schools</a></td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            
        </table>
    </section>

    <!-- Videos Section -->
    
    <section id="lectures">
        <div class="th">
            <h2>Recorded Lectures</h2>
            <h3>Short Videos (Less than 30 min duration)</h3>
        </div>
        <table>
            <tr>
                <td><a class="links" href="https://youtu.be/IJ-PJbvJBGs">How to Install Java JDK on Windows 10 </a></td>
                <td>10 mins 31 sec</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://youtu.be/mAtkPQO1FcA">Java In 5 Minutes</a></td>
                <td>5 mins 11 sec</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://youtu.be/2Xa3Y4xz8_s">What is Java?</a></td>
                <td>6 mins</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            
        </table>
        <div class="th">
            <h3>Medium Videos (30 - 120 min duration)</h3>
        </div>
        <table>
            <tr>
                <td><i class="fal fa-external-link"></i><a class="links" href="https://youtu.be/kJ0PKUMWnQI">Java Programming | In One Video</a></td>
                <td>41 mins</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://youtu.be/UmnCZ7-9yDY">Java Tutorial for Beginners | Learn Java in 2 Hours</a></td>
                <td>2 hrs</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            
        </table>
        <div class="th">
            <h3>Long Videos (Greater than 120 min duration)</h3>
        </div>
        <table>
            <tr>
                <td><a class="links" href="https://youtu.be/hBh_CC5y8-s">Java Full Course | Java Tutorial for Beginners</a></td>
                <td>10 hrs 10 mins</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://youtu.be/8cm1x4bC610">Java Tutorial for Beginners | Full Course</a></td>
                <td>6 hrs 49 mins</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
                <td><a class="links" href="https://youtu.be/Ae-r8hsbPUo">Advance Java Full Course </a></td>
                <td>4 hrs 13 mins</td>
                <td><input type="checkbox" name="" id=""></td>
            </tr>
            
        </table>
    </section>

    <!----------------- Footer Section -------------------->

    <footer>
        <div class = "footer-box">
            <div>
                <p>Copyright @2021 Web Coursera All rights reserved </p>
            </div>
            <div>
                <a href="termsAndConditions.html">Terms & Conditions</a>
            </div>
            <div>
                <a href = "privacyPolicy.html">Privacy Policy</a>
            </div>
            <div>
                <a href = "#">Help and Support</a>
            </div>
            <div>
                <a href = "#">About Us</a>
            </div>
            <div>
                <a href = "mailto:info@webcoursera.com">Contact Us</a>
            </div>
        </div>
    </footer>
</body>
</html>