<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Animated Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/signup_style.css">
</head>
<body>
    <video autoplay loop muted plays-inline id="backVideo">
        <source src="../assets/signup_video.mp4" type="video/mp4">
    </video>

    <div class="center">
        <h1>SignUp</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Full Name</label>
            </div>
            <div class="txt_field">
                <input type="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="institute" required>
                <span></span>
                <label>Institute</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            
            <input type="submit" value="Sign Up">
            <div class="signup_link">
                Already registered? <a href="#">Login</a>
            </div>
        </form>
    </div>
    
</body>
</html>