<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/terms_and_conditions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Web Coursera</title>
</head>
<body>
    <!--------------- Navigation Bar ------------>
    <header>
        <h1 class="logo"><a href="#">WebCoursera</a></h1>
      <ul class="main-nav">
          <li><a href="#">Home</a></li>
          <li><a href="login.html">Sign In</a></li>
          <li><a href="signup.html">Sign Up</a></li>
      </ul>
    </header>
    <!------------------------------------------->

    <!------------ Terms and Conditions  ------->

    <section class = "main-area">
        <h1>Terms and Conditions</h1>
        <hr>

        <h2>Thank you for using Web Coursera!</h2>
        <p>Web Coursera offers products and services provided by Web Coursera, Inc., our subsidiaries, and our 
        international branches ("Web Coursera," "us," "we," or "our"). These Terms of Use
        ("Terms") govern your use of our website, apps, and other products and services ("Services").
        As some of our Services may be software that is downloaded to your computer, phone, tablet, or
        other device, you agree that we may automatically update this software, and that these Terms will
        apply to such updates. Please read these Terms carefully, and contact us if you have any questions.
        By using our Services, you agree to be bound by these Terms, including the policies referenced in
        these Terms.
        </p>
        <p><b>These terms include an arbitration agreement and class action waiver that apply to all claims brought against web coursera. Please read them carefully. They affect your legal rights.</b></p>

        <h2>Using Web Coursera</h2>
        <h3>Who May Use our Services</h3>
        <p>You may use our Services only if you can form a binding contract with Coursera, and only in 
           compliance with these Terms and all applicable laws. When you create your Coursera account, 
           and subsequently when you use certain features, you must provide us with accurate and complete
           information, and you agree to update your information to keep it accurate and complete. Any use
           or access by anyone under the age of 13 is prohibited, and certain regions and Content Offerings
           may have additional requirements and/or restrictions.
        </p>
        <h3>Our License to You</h3>
        <p>Subject to these Terms and our policies (including the Acceptable Use Policy, Honor Code, 
           course-specific eligibility requirements, and other terms), we grant you a limited, personal,
           non-exclusive, non-transferable, and revocable license to use our Services. You may download
           content from our Services only for your personal, non-commercial use, unless you obtain our
           written permission to otherwise use the content. You also agree that you will create, access,
           and/or use only one user account, unless expressly permitted by Web Coursera, and you will not
           share access to your account or access information for your account with any third party. Using 
           our Services does not give you ownership of or any intellectual property rights in our Services
           or the content you access.
        </p>
        
        <h2>Your Content</h2>
        <h3>User Content</h3>
        <p>The Services enable you to share your content, such as homework, quizzes, exams, projects, other assignments you submit, posts you make in the forums, and the like ("User Content"), with Web Coursera, instructors, and/or other users. You retain all intellectual property rights in, and are responsible for, the User Content you create and share. User Content does not include course content or other materials made available on or placed on to the Web Coursera platform by or on behalf of Content Providers or their instructors using the Services or Content Offerings. As between Web Coursera and Content Providers, such Content Offerings are governed by the relevant agreements in place between Web Coursera and Content Providers.</p>
        <h3>How Web Coursera and Others May Use User Content</h3>
        <p>To the extent that you provide User Content, you grant Web Coursera a fully-transferable, royalty-free, perpetual, sublicensable, non-exclusive, worldwide license to copy, distribute, modify, create derivative works based on, publicly perform, publicly display, and otherwise use the User Content. This license includes granting Web Coursera the right to authorize Content Providers to use User Content with their registered students, on-campus learners, or other learners independent of the Services. Nothing in these Terms shall restrict other legal rights Web Coursera may have to User Content, for example under other licenses. We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms or other policies including our Acceptable Use Policy and Code of Conduct.</p>
        
        <h2>Security</h2>
        <p>We care about the security of our users. While we work to protect the security of your account and related information, Web Coursera cannot guarantee that unauthorized third parties will not be able to defeat our security measures. Please notify us immediately of any compromise or unauthorized use of your account by emailing security@webcoursera.org or submitting via HackerOne.</p>

        <h2>Third Party Content</h2>
        <p>Through the Services, you will have the ability to access and/or use content provided by instructors, other users, and/or other third parties and links to websites and services maintained by third parties. Web Coursera cannot guarantee that such third party content, in the Services or elsewhere, will be free of material you may find objectionable or otherwise inappropriate or of malware or other contaminants that may harm your computer, mobile device, or any files therein. Web Coursera disclaims any responsibility or liability related to your access or use of, or inability to access or use, such third party content.</p>
        
        <h2>Copyright and Trademark</h2>
        <p>Web Coursera respects the intellectual property rights of our users, Content Providers, and other third parties and expects our users to do the same when using the Services. We have adopted and implemented the Web Coursera Copyright and Trademark Policy below in accordance with applicable law, including the Digital Millennium Copyright Act.</p>
        
        <h2>Education Research</h2>
        <p>Web Coursera is committed to advancing the science of learning and teaching, and records of your participation in courses may be used for education research. In the interest of this research, you may be exposed to variations in the Content Offerings. Research findings will typically be reported at the aggregate level. Your personal identity will not be publicly disclosed in any research findings without your express consent.</p>

        <h2>Paid Services from Web Coursera</h2>
        <p>Web Coursera offers paid Services (e.g., course certificates for certain courses) for a fee. Unless otherwise stated, all fees are quoted in U.S. Dollars. You are responsible for paying all fees charged by or for Web Coursera and applicable taxes in a timely manner with a payment mechanism associated with the applicable paid Services. If your payment method fails or your account is past due, we may collect fees using other collection mechanisms. Fees may vary based on your location and other factors, and Web Coursera reserves the right to change any fees at any time at its sole discretion. Any change, update, or modification will be effective immediately upon posting through the relevant Services. Refunds may be available for paid Services as described in our Refund Policy below.</p>

        <h2>Modifying or Terminating our Services</h2>
        <p>We are constantly changing and improving our Services. We may add or remove functions, features, or requirements, and we may suspend or stop part of our Services altogether. Accordingly, Web Coursera may terminate your use of any Service for any reason. If your use of a paid Service is terminated, a refund may be available under our Refund Policy. We may not be able to deliver the Services to certain regions or countries for various reasons, including due to applicable export control requirements or internet access limitations and restrictions from governments. None of Web Coursera, its Content Providers and instructors, its contributors, sponsors, and other business partners, and their employees, contractors, and other agents (the "Web Coursera Parties") shall have any liability to you for any such action. You can stop using our Services at any time, although we'll be sorry to see you go.</p>

        <h2>Disclaimers</h2>
        <p>The services and all included content are provided on an "As is" basis without warranty of any kind, whether express or implied. The coursera parties specifically disclaim any and all warranties and conditions of merchantability, fitness for a particular purpose, and non-infringement, and any warranties arising out of course of dealing or usage of trade. The coursera parties further disclaim any and all liability related to your access or use of the services or any related content. You acknowledge and agree that any access to or use of the services or such content is at your own risk.</p>

    </section>

    <!---------------------------------------------------------->

    <!---------------- Footer ------------------->
    <footer>
        <a href="#">Terms, Privacy policy, Help and support, About us and Contact us</a>
    </footer>
    <!------------------------------------------->
</body>
</html>